<!DOCTYPE html>
<html>
    <head>
        <title> Register - CustomChat </title>
    </head>
    <body>
        This is the Register page
        <br>
        <form method="get" id="registerForm">
            <h2>Username</h2>
            <input type="text">
            <br>
            <h2>Display Name (can be same as the Username or different)</h2>
            <input type="text" placeholder="Display Name">
            <br>
            <h2>Password</h2>
            <input type="password" placeholder="Enter password">
            <br>
            <h2>Confirm Password</h2>
            <input type="password" placeholder="Re-enter password">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>